# Labor Force Survery 2024
#### Goal: Find what factors affect a person's employability

___

### Phase 1: data description, target research question, preprocessing, and exploratory data analysis

> Deliverables:
>
> A Jupyter Notebook containing all the data processing you did in the project. The Notebook should include Markdown
cells explaining each process, and highlighting the insights and conclusions. The Notebook should be structured in a
way that (1) is easy to understand, and (2) can be run sequentially to reproduce all outputs in your work.

## Section 1 - Dataset Description

## Section 2 - Data Cleaning

### Section 2.1 - Research Question & Exploratory Data Analysis

___

### Phase 2: statistical inference, data mining, key insights and conclusions

> Delivarables:
> 
> 1. A Jupyter Notebook containing all the data processing you did in the project. The Notebook should include Markdown
cells explaining each process, and highlighting the insights and conclusions. The Notebook should be structured in a
way that (1) is easy to understand, and (2) can be run sequentially to reproduce all outputs in your work.
> 
> 2. A poster that communicates all key findings and insights of your work. The poster should be intuitive to understand,
and intended for a general audience.

## Section 3 - Data Mining

## Section 4 - Statistical Inference

## Section 5 - Insights and Conclusions

Your must ensure that you will go through all of these minimum requirement tasks in your project:
1. identify a general research question that you aim to answer in your data narrative
2. perform exploratory data analysis, covering at least 3 EDA questions, to get a good understanding of the data
3. conduct at least 3 statistical tests to establish three sound conclusions from the data
4. apply at least one of the following techniques: (1) rule mining, (2) clustering, or (3) collaborative filtering to discover
meaningful insights from the data (you may also choose to apply any of the variants of the above approaches)

In [ ]:
# import kagglehub

# # Download latest version
# path = kagglehub.dataset_download("abeperez/filipino-wordsentiment-dictionary")

# print("Path to dataset files:", path)

# https://www.kaggle.com/datasets/abeperez/filipino-wordsentiment-dictionary

import pandas as pd
df = pd.read_csv('src/data/LFS PUF March 2024.CSV')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44063 entries, 0 to 44062
Data columns (total 41 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PUFREG           44063 non-null  int64
 1   PUFHHNUM         44063 non-null  int64
 2   PUFPWGTPRV       44063 non-null  float64
 3   PUFSVYMO         44063 non-null  int64
 4   PUFSVYYR         44063 non-null  int64
 5   PUFPSU           44063 non-null  int64
 6   PUFRPL           44063 non-null  int64
 7   PUFHHSIZE        44063 non-null  int64
 8   PUFC01_LNO       44063 non-null  int64
 9   PUFC03_REL       44063 non-null  int64
 10  PUFC04_SEX       44063 non-null  int64
 11  PUFC05_AGE       44063 non-null  int64
 12  PUFC06_MSTAT     44063 non-null  object
 13  PUFC07_GRADE     44063 non-null  object
 14  PUFC08_CONWR     44063 non-null  object
 15  PUFC09_WORK      44063 non-null  object
 16  PUFC09A_WORK     44063 non-null  object
 17  PUFC10_JOB       44063 non-null  object
 18  PUFC11A_PROVMUN  44063 non-null  object
 19  PUFC13_PROCC     44063 non-null  object
 20  PUFC15_PKB       44063 non-null  object
 21  PUFC16_NATEM     44063 non-null  object
 22  PUFC17_PNWHRS    44063 non-null  object
 23  PUFC18_PHOURS    44063 non-null  object
 24  PUFC19_PWMORE    44063 non-null  object
 25  PUFC20_PLADDW    44063 non-null  object
 26  PUFC20B_FTWORK   44063 non-null  object
 27  PUFC21_PCLASS    44063 non-null  object
 28  PUFC22_OJOB      44063 non-null  object
 29  PUFC23_THOURS    44063 non-null  object
 30  PUFC24_WWM48H    44063 non-null  object
 31  PUFC25_LOOKW     44063 non-null  object
 32  PUFC25B_FTWORK   44063 non-null  object
 33  PUFC26_WYNOT     44063 non-null  object
 34  PUFC27_AVAIL     44063 non-null  object
 35  PUFC28_PREVJOB   44063 non-null  object
 36  PUFC29_YEAR      44063 non-null  object
 37  PUFC29_MONTH     44063 non-null  object
 38  PUFC31_POCC      44063 non-null  object
 39  PUFC33_QKB       44063 non-null  object
 40  PUFNEWEMPSTAT    44063 non-null  object
dtypes: float64(1), int64(11), object(29)
memory usage: 13.8+ MB

In [2]:
df.columns.tolist()

['PUFREG',
 'PUFHHNUM',
 'PUFPWGTPRV',
 'PUFSVYMO',
 'PUFSVYYR',
 'PUFPSU',
 'PUFRPL',
 'PUFHHSIZE',
 'PUFC01_LNO',
 'PUFC03_REL',
 'PUFC04_SEX',
 'PUFC05_AGE',
 'PUFC06_MSTAT',
 'PUFC07_GRADE',
 'PUFC08_CONWR',
 'PUFC09_WORK',
 'PUFC09A_WORK',
 'PUFC10_JOB',
 'PUFC11A_PROVMUN',
 'PUFC13_PROCC',
 'PUFC15_PKB',
 'PUFC16_NATEM',
 'PUFC17_PNWHRS',
 'PUFC18_PHOURS',
 'PUFC19_PWMORE',
 'PUFC20_PLADDW',
 'PUFC20B_FTWORK',
 'PUFC21_PCLASS',
 'PUFC22_OJOB',
 'PUFC23_THOURS',
 'PUFC24_WWM48H',
 'PUFC25_LOOKW',
 'PUFC25B_FTWORK',
 'PUFC26_WYNOT',
 'PUFC27_AVAIL',
 'PUFC28_PREVJOB',
 'PUFC29_YEAR',
 'PUFC29_MONTH',
 'PUFC31_POCC',
 'PUFC33_QKB',
 'PUFNEWEMPSTAT']

In [12]:
ph_data = df[df['country'] == 'PH']
ph_data

,spotify_id,name,artists,daily_rank,daily_movement,weekly_movement,country,snapshot_date,popularity,is_explicit,...,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
1000,5tlb0AxuzsMWL2GtEppXGX,Multo,Cup of Joe,1,0,49,PH,2025-05-04,85,False,...,11,-7.504,1,0.0445,0.4330,0.004550,0.0973,0.442,208.053,4
1001,2Dhdu4YB3y5U3RiIcCJduv,Tibok,Earl Agustin,2,0,48,PH,2025-05-04,86,False,...,10,-9.004,1,0.0263,0.0970,0.002610,0.2150,0.680,143.974,4
1002,1UPB5rYJ0bzn6mNSoAHrZC,You'll Be in My Heart,NIKI,3,0,47,PH,2025-05-04,92,False,...,9,-8.748,1,0.0394,0.0569,0.001390,0.1260,0.633,187.531,4
1003,26gpJidk118QGbNcDqCHbW,My Day,HELLMERRY,4,0,46,PH,2025-05-04,82,True,...,9,-10.047,1,0.0280,0.6570,0.000000,0.2770,0.743,105.005,4
1004,2zbq6eS68i4NIJWekIuW1s,Marilag,Dionela,5,0,45,PH,2025-05-04,84,False,...,1,-9.346,1,0.2090,0.4720,0.000004,0.1010,0.907,155.920,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1970930,3UsQ5xVmuxXhZkJOJbVDed,Malaking P - Rich N**** Shit Remix,E.J,46,4,0,PH,2023-10-18,70,True,...,1,-6.276,0,0.0681,0.7360,0.004980,0.1010,0.522,98.008,4
1970931,1p80LdxRV74UKvL8gnD7ky,Blank Space,Taylor Swift,47,3,0,PH,2023-10-18,83,False,...,5,-5.421,1,0.0644,0.0850,0.000002,0.1300,0.583,96.006,4
1970932,6Rv8Ltr2MuAIM3LHF4L8qs,Rapstar,Flow G,48,2,0,PH,2023-10-18,76,False,...,10,-5.122,0,0.0424,0.1090,0.000611,0.1530,0.300,151.966,4
1970933,7bAVndaTleEnfizm6h2d3i,Musika,Dionela,49,1,0,PH,2023-10-18,76,False,...,9,-7.140,1,0.0290,0.5540,0.000000,0.1220,0.501,134.774,3
1970934,1kuGVB7EU95pJObxwvfwKS,vampire,Olivia Rodrigo,50,0,0,PH,2023-10-18,96,True,...,5,-5.745,1,0.0578,0.1770,0.000000,0.2910,0.350,138.005,4

In [36]:
# subset_df = ph_data[["name", "daily_rank", "artists"]]

df.tail(1)
# subset_df.head(100)

,spotify_id,name,artists,daily_rank,daily_movement,weekly_movement,country,snapshot_date,popularity,is_explicit,...,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
1973525,59NraMJsLaMCVtwXTSia8i,Prada,"cassö, RAYE, D-Block Europe",50,0,0,AE,2023-10-18,94,True,...,8,-5.804,1,0.0375,0.001,0.000002,0.113,0.422,141.904,4