In [ ]:
import numpy as np
import pandas as pd

import kagglehub
#download latest version 
#https://www.kaggle.com/datasets/asaniczka/top-spotify-songs-in-73-countries-daily-updated
path = kagglehub.dataset_download("asaniczka/top-spotify-songs-in-73-countries-daily-updated")
print("Path to dataset files:", path)

import os
files = os.listdir(path)
print("Files in the dataset directory:", files)

csv_file = None
for file in files:
    if file.endswith(".csv"):
        csv_file = file
        break

if csv_file:
    file_path = os.path.join(path, csv_file)    #full file path
    df = pd.read_csv(file_path)                 #dataframe
else:
    print("No CSV file found in the downloaded dataset.  Please check the file types.")
    print("If the dataset is not CSV, you'll need to use a different Pandas function")
    print("For example, pd.read_excel(), pd.read_json(), etc.")

Path to dataset files: /Users/balingit.andrei/.cache/kagglehub/datasets/asaniczka/top-spotify-songs-in-73-countries-daily-updated/versions/570
Files in the dataset directory: ['universal_top_spotify_songs.csv']

In [38]:
df.columns.tolist()

['spotify_id',
 'name',
 'artists',
 'daily_rank',
 'daily_movement',
 'weekly_movement',
 'country',
 'snapshot_date',
 'popularity',
 'is_explicit',
 'duration_ms',
 'album_name',
 'album_release_date',
 'danceability',
 'energy',
 'key',
 'loudness',
 'mode',
 'speechiness',
 'acousticness',
 'instrumentalness',
 'liveness',
 'valence',
 'tempo',
 'time_signature']

pip install pandas

python -m ipykernel install --user --name=myenv

python3 -m venv myenv

source myenv/bin/activate

pip install ipykernel

python -m ipykernel install --user --name=myenv

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1973526 entries, 0 to 1973525
Data columns (total 25 columns):
 #   Column              Dtype
---  ------              -----
 0   spotify_id          object
 1   name                object
 2   artists             object
 3   daily_rank          int64
 4   daily_movement      int64
 5   weekly_movement     int64
 6   country             object
 7   snapshot_date       object
 8   popularity          int64
 9   is_explicit         bool
 10  duration_ms         int64
 11  album_name          object
 12  album_release_date  object
 13  danceability        float64
 14  energy              float64
 15  key                 int64
 16  loudness            float64
 17  mode                int64
 18  speechiness         float64
 19  acousticness        float64
 20  instrumentalness    float64
 21  liveness            float64
 22  valence             float64
 23  tempo               float64
 24  time_signature      int64
dtypes: bool(1), float64(9), int64(8), object(7)
memory usage: 363.2+ MB

In [12]:
ph_data = df[df['country'] == 'PH']
ph_data

,spotify_id,name,artists,daily_rank,daily_movement,weekly_movement,country,snapshot_date,popularity,is_explicit,...,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
1000,5tlb0AxuzsMWL2GtEppXGX,Multo,Cup of Joe,1,0,49,PH,2025-05-04,85,False,...,11,-7.504,1,0.0445,0.4330,0.004550,0.0973,0.442,208.053,4
1001,2Dhdu4YB3y5U3RiIcCJduv,Tibok,Earl Agustin,2,0,48,PH,2025-05-04,86,False,...,10,-9.004,1,0.0263,0.0970,0.002610,0.2150,0.680,143.974,4
1002,1UPB5rYJ0bzn6mNSoAHrZC,You'll Be in My Heart,NIKI,3,0,47,PH,2025-05-04,92,False,...,9,-8.748,1,0.0394,0.0569,0.001390,0.1260,0.633,187.531,4
1003,26gpJidk118QGbNcDqCHbW,My Day,HELLMERRY,4,0,46,PH,2025-05-04,82,True,...,9,-10.047,1,0.0280,0.6570,0.000000,0.2770,0.743,105.005,4
1004,2zbq6eS68i4NIJWekIuW1s,Marilag,Dionela,5,0,45,PH,2025-05-04,84,False,...,1,-9.346,1,0.2090,0.4720,0.000004,0.1010,0.907,155.920,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1970930,3UsQ5xVmuxXhZkJOJbVDed,Malaking P - Rich N**** Shit Remix,E.J,46,4,0,PH,2023-10-18,70,True,...,1,-6.276,0,0.0681,0.7360,0.004980,0.1010,0.522,98.008,4
1970931,1p80LdxRV74UKvL8gnD7ky,Blank Space,Taylor Swift,47,3,0,PH,2023-10-18,83,False,...,5,-5.421,1,0.0644,0.0850,0.000002,0.1300,0.583,96.006,4
1970932,6Rv8Ltr2MuAIM3LHF4L8qs,Rapstar,Flow G,48,2,0,PH,2023-10-18,76,False,...,10,-5.122,0,0.0424,0.1090,0.000611,0.1530,0.300,151.966,4
1970933,7bAVndaTleEnfizm6h2d3i,Musika,Dionela,49,1,0,PH,2023-10-18,76,False,...,9,-7.140,1,0.0290,0.5540,0.000000,0.1220,0.501,134.774,3
1970934,1kuGVB7EU95pJObxwvfwKS,vampire,Olivia Rodrigo,50,0,0,PH,2023-10-18,96,True,...,5,-5.745,1,0.0578,0.1770,0.000000,0.2910,0.350,138.005,4

In [36]:
# subset_df = ph_data[["name", "daily_rank", "artists"]]

df.tail(1)
# subset_df.head(100)

,spotify_id,name,artists,daily_rank,daily_movement,weekly_movement,country,snapshot_date,popularity,is_explicit,...,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
1973525,59NraMJsLaMCVtwXTSia8i,Prada,"cassö, RAYE, D-Block Europe",50,0,0,AE,2023-10-18,94,True,...,8,-5.804,1,0.0375,0.001,0.000002,0.113,0.422,141.904,4